@model People3.Models.PersonViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />    
    <div>
        <img src="@Html.DisplayFor(model => model.Image)" height="100" />
    </div>
    <br />
    <div>
        <a href="@Html.DisplayFor(model => model.Link)">@Html.DisplayFor(model => model.Name)</a>
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.Birthday) - @Html.DisplayFor(model => model.Death)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.Description)
    </div>    
    <br />
    <div>
        <label asp-for="Rating"></label>
        @Html.DisplayFor(model => model.Rating)
    </div>
    <br />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
