@model People3.Models.PersonViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <div>
        <img src="@Html.DisplayFor(model => model.Image)" height="100" />
    </div>
    <br />
    <div>
        <a href="@Html.DisplayFor(model => model.Link)">@Html.DisplayFor(model => model.Name)</a>
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.Birthday) - @Html.DisplayFor(model => model.Death)
    </div>
    <br />
    <div>
        @Html.DisplayFor(model => model.Description)
    </div>
    <br />
    <div>
        <label asp-for="Rating"></label>
        @Html.DisplayFor(model => model.Rating)
    </div>
    
    <form asp-action="RateAsync" method="post" class="form-horizontal">        
        <div class="form-group">
            <div class="col-lg-8">
                <label asp-for="Rating" class="col-md-10 col-lg-1 col-sm-1 control-label"></label>

                <span class="rating">
                    @for (int i = 1; i <= 10; i++)
            {
                var starClass = "star";
                if (Model.Rating == 11 - i)
                {
                    starClass += " active";
                }
                <span data-value="@(11 - i)" class="@starClass"></span>
    }
                </span>
            </div>
            <div class="col-md-10">
                <input asp-for="ID" name="ID" type="hidden" />
                <input asp-for="Rating" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
    @section Scripts {
        <script src="~/js/rating.js"></script>
        }
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
